<%- include('./partials/header'); -%>
  <section class="ftco-section bg-light">
    <div class="container">
      <h3 class="heading" style="padding: 2%; text-align: center; font-weight: bolder;">Breaking News</h3>

      <div class="row d-flex">
        <% for(var i=0 ; i< news.length;i++){%>
        <div class="col-md-4 d-flex ftco-animate">
          <div class="blog-entry justify-content-end">
            <a href="/News/<%=news[i].b_id%>" class="block-20" style="background-image: url('uploads/<%=news[i].photo%>');">
            </a>
            <div class="text p-4 float-right d-block">
              <div class="topper d-flex align-items-center">
                <div class="one py-2 pl-3 pr-1 align-self-stretch">
                  <span class="day"><%=new Date(news[i].dateandTime).getDate()%></span>
                </div>
                <div class="two pl-0 pr-3 py-2 align-self-stretch">
                  <span class="yr"><%=new Date(news[i].dateandTime).getFullYear()%></span>
                  <span class="mos"><%=new Date(news[i].dateandTime).toUTCString().slice(8,11)%></span>
                </div>
              </div>
              <h3 class="heading mb-3"><a href="/News/<%=news[i].b_id%>"><%=news[i].title%></a></h3>
              <p><%=news[i].postBody.slice(0,100)%></p>
              <p><a href="/News/<%=news[i].b_id%>" class="btn-custom"><span class="ion-ios-arrow-round-forward mr-3"></span>Read more</a></p>
            </div>
          </div>
        </div>
        <%}%>

      </div>

    </div>
  </section>

  <%- include('./partials/footer'); -%>


